<template>
  <div class="login container">
    <div class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="column is-4 is-offset-4">
            <h1 class="title has-text-centered">{{ $t('login.title') }}</h1>
            <h4 class="subtitle has-text-centered">{{ $t('login.subtitle') }}</h4>
            <div class="box">
              <b-field :label="$t('login.input-email')">
                <b-input v-model="user.email" type="email" required/>
              </b-field>
              <b-field :label="$t('login.input-password')">
                <b-input v-model="user.password" type="password" required/>
              </b-field>
              <a class="button is-primary is-block is-large" @click="performAuthentication">
                {{ $t('login.button-label') }}
              </a>
              <b-field :label="$t('login.select-label')">
                <b-select
                  v-model="user.lang"
                  @input="onInputLang"
                >
                  <option
                      v-for="lang in langs"
                      :value="lang"
                      :key="lang">
                      {{ lang }}
                  </option>
                </b-select>
              </b-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="sass" scoped>
  .login
    background-color: #f3f6fa
    height: 30rem
</style>

<script>

export default {
  name: 'Login',
  data() {
    return {
      user: {
        lang: 'en',
      },
      langs: [],
    };
  },
  methods: {
    performAuthentication() {
      this.$router.replace('/');
    },
    onInputLang(value) {
      this.$emit('change-lang', value);
    },
  },
  created() {
    this.langs = Object.keys(this.$i18n.messages).map(item => item);
    this.$emit('change-lang', 'en');
  },
};
</script>

