<template>
  <base-page>
    <router-view/>
  </base-page>
</template>

<style lang="sass" scoped>
  .home
</style>

<script>
import BasePage from '@/components/BasePage';

export default {
  name: 'Home',
  components: {
    BasePage,
  },
};
</script>
