<template>
  <div class="base-page">
    <nav class="navbar is-white">
      <div class="container is-fluid">
        <div class="navbar-brand">
          <figure class="image">
            <img class="navbar-item" src="/static/img/logo.jpg" alt="">
          </figure>
          <div class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-end">
          </div>
        </div>
      </div>
    </nav>
    <div class="container is-fluid">
      <div class="columns">
        <div class="column is-3">
          <aside class="menu">
            <p class="menu-label">
              General
            </p>
            <ul class="menu-list">
              <li>
                <router-link class="base-page__menu-list-item" to="/">
                  {{ $t('basePage.menus.home') }}
                </router-link>
              </li>
              <li>
                <router-link class="base-page__menu-list-item" to="/schedules">
                  {{ $t('basePage.menus.schedules') }}
                </router-link>
              </li>
              <li>
                <router-link class="base-page__menu-list-item" to="/login">
                  {{ $t('basePage.logout') }}
                </router-link>
              </li>
            </ul>
          </aside>
        </div>
        <div class="column is-9">
          <router-view/>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="sass" scoped>
  .base-page
    position: absolute
    background: #edf1f3
    height: 100%
    width: 100%
    &__body
      margin: 0
    &__menu-list-item
      &:hover
        background: #3273dc
        color: #fff
</style>

<script>

export default {

};
</script>

