<template>
  <div id="app">
    <router-view @change-lang="onChangeLang"/>
  </div>
</template>

<script>
export default {
  name: 'App',
  methods: {
    onChangeLang(value) {
      this.$locale.change(value);
    },
  },
  created() {
    this.$locale.change(this.$locale.current());
  },
};
</script>

<style lang="sass">
@import './style/global.sass';
html
  overflow: hidden
</style>
